<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>

    <nav>
        <ul>

            <li>
                <a href="@Url.Action("Index","Home")">Index</a>
            </li>
            <li>
                @Html.ActionLink("Math Table", "MathTable", "Home")
            </li>
            <li>
                <a asp-action="Contact" asp-controller="Home">Contact</a>
            <li>
                <a asp-action="Index" asp-controller="Reviews">Reviews</a>
            <li>
                <a asp-action="LookAt" asp-controller="Sessions">LookAT</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Cars">Cars</a>
            </li>
            <li>
                <a asp-action="FeverCheck" asp-controller="Helth">Helth</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Games">Guessing Games</a>
            </li>
           
        </ul>


    </nav>


    <div>
        @RenderBody()
    </div>

    <hr/>

    <footer class="border-top footer text-muted">
        <div class="container">
            @DateTime.Now.Year H.Rathod &copy;
        </div>
    </footer>
</body>
</html>
